body{
    background-color:chocolate;
}

.main_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

button:hover{
    background-color: darkgreen;
}

#activeShip{
    font-size: 16px;
    color: blue;
}

h1{
    color: darkgray;
}

h3{
    color: brown;
}

table{
    border: 2px solid black;
}

td {
    width: 50px;
    height: 50px;
    border: solid 1px black;
    text-align: center;
    font-size: 20pt;
}

td:hover {
    background-color: #dbdbdb;
    cursor: pointer;
}

#informationPanel{
    height: 120px;
    width: 25%;
    border: 2px solid saddlebrown;
    margin-top: 5px;
}

.water{ background-color: aqua; }
.water_attacked{    background-color: blue; }

.ship{ background-color: crimson;  }
.ship_attacked{    background-color: red;  }